/* signup,login/page.module.css */
.container {
  height: calc(100vh - 56px);
  padding: 0 10%;
  background-color: white;
}

.buttonEnabled {
  background-color: #217178;
  color: white;
  width: 250px;
  font-size: 1.0rem;
  padding: 12px 24px;
  border-radius: 12px;
}

.buttonDisabled {
  background-color: #D9D9D9;
  color: black;
  width: 250px;
  font-size: 1.0rem;
  padding: 12px 24px;
  border-radius: 12px;
}

.buttonBox {
  display: flex;
  justify-content: center;
}
