/* start/page.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 0;
}

.logoContainer {
  width: 100%;
}

.logo {
  width: 100%;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.button {
  width: 250px;
  font-size: 1.0rem;
  padding: 12px 24px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.termContainer {
  margin-bottom: 1em;
}
