/* TopBar.module.css */
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .goBackButton {
    margin-left: 20px;
  }
  
  .pageTitle {
    font-size: 18px;
  }
  